/node_modules
/public/hot
/public/storage
/public/fonts
/public/js
/public/css
/storage/*.key
storage/debugbar/
storage/api-docs/
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/manifest.json
public/firebase-messaging-sw.*
public/manifest.*
public/assets/app/
public/mix-manifest.json
public/vendor/
.php_cs.cache
.php_cs
.idea/
yarn.lock
.DS_Store
_ide_helper.php
